 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

$mobile: new-breakpoint(max-width 768px);

@mixin border {
  border: 1px solid black;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  width: 100%;
}

.container {
  @include span-columns(12 of 12);
}

.inner-cont {
  @include border;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  @include media($mobile) {
    width: 100%;
  }
}

header {
  @include span-columns(12 of 12);
  @include border;
  height: 500px;
}

.hero-container {
  .hero-unit {
    @include border;
    text-align: center;
    h1 {
      font-size: 60px;
      line-height: 1;
      letter-spacing: -1px;
    }
  }
}


footer {
  @include span-columns(12 of 12);
  @include border;
  height: 400px;
  .footer-cont {
    border: none;
  }
}