 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

$mobile: new-breakpoint(min-width 768px);

@mixin border {
  border: 1px solid black;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  width: 100%;
}

.container {
  @include span-columns(12 of 12);
}

.inner-cont {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 500px;
  @include media($mobile) {
    width: 80%;
  }
}

// ########### Begin Mobile Navigation Bar -->

.slicknav_menu {
  font-size: 19px;
  margin-top: 2px;
  @include media($mobile) {
    display: none;
  }
}

.slicknav_menutxt {
  margin: 3.2px;
  font-size: 16px;
}

.slicknav_icon-bar {
  margin: 3.2px;
  width: 1.3em;
  height: 0.155em;
}

.slicknav_nav a {
  font-size: 1.15em;
}

// ########### End Mobile Navigation Bar -->

// ########### Begin Desktop Navigation Bar -->

// #navigate {
//   #navigate-inner-cont {
//       #menu-cont {
//         text-align: center;
//         // #menu {
//   //       //   display: none;
//   //       //   li {
//   //       //     padding: 10px;
//   //       //     font-size: 20px;
//   //       //     margin-top: 5px;
//   //       //     @include media($mobile) {
//   //       //       display: inline;
//   //       //       a {
//   //       //         text-decoration: none;
//   //       //       }
//   //       //     }
//   //       //   }
//   //       //   @include media($mobile) {
//   //       //     list-style-type: none;
//   //       //     display: inline;
//   //       //   }
//   //       // }
//   //     }
//   //     @include media($mobile) {
//   //       @include span-columns(12 of 12);
//   //     }
//   //   }
//     // @include media($mobile) {
//     //   width: 80%;
//     //   height: 45px;
//     //   margin: 0 auto;
//     //   background-color: white;
//     //   margin-top: 30px;
//     // }
//   }
//   @include media($mobile) {
//     @include span-columns (12 of 12);
//     height: 100px;
//     background: rgba(0, 0, 0, 0.7);
//   }
// }


// ########### End Desktop Navigation Bar -->


.hero-container {
  .hero-unit {
    @include border;
    text-align: center;
    .mobile-hero-name {
      background: rgba(0, 0, 0, 0.7);
      @include border;
      h1 {
        color: white;
      }
      @include media($mobile) {
        display: none;
      }
    }
  }
}


footer {
  @include span-columns(12 of 12);
  @include border;
  height: 400px;
  .footer-cont {
    border: none;
  }
}